@page "/feedback"

@using MoonCore.Blazor.Tailwind.Alerts
@using MoonCore.Blazor.Tailwind.Test.Models
@using MoonCore.Blazor.Tailwind.Toasts
@using MoonCore.Blazor.Tailwind.Components

@inject AlertService AlertService
@inject ToastService ToastService

<div class="mb-5">
    <NavTabs Index="0" Names="UiConstants.FeedbackNames" Links="UiConstants.FeedbackLinks" />
</div>

<div class="space-x-2">
    <button @onclick="SuccessClick" class="btn btn-success">Success</button>
    <button @onclick="InfoClick" class="btn btn-info">Info</button>
    <button @onclick="WarningClick" class="btn btn-warning">Warning</button>
    <button @onclick="DangerClick" class="btn btn-danger">Danger</button>
</div>

@code
{

    private Task SuccessClick() => AlertService.Success("Title example", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.");
    private Task InfoClick() => AlertService.Info("Title example", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.");
    private Task WarningClick() => AlertService.Warning("Title example", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.");
    private Task DangerClick() => AlertService.Danger("Title example", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.");
}