@inherits FastFormBaseComponent<int>

<div class="col-@Columns col-md-@ColumnsMd">
    <label class="form-label">@Name</label>

    <ByteSizeInput @bind-Value="Binder.Value"
                   MinimumUnit="@MinimumUnit"
                   DefaultUnit="@DefaultUnit"
                   Converter="@Converter"/>

    @if (Description != null)
    {
        <div class="form-text fs-6 text-gray-600">
            @Description
        </div>
    }
</div>

@code
{
    [Parameter] public string MinimumUnit { get; set; } = "KB";
    [Parameter] public string DefaultUnit { get; set; } = "KB";
    [Parameter] public int Converter { get; set; } = 0;
}