@inherits FastFormBaseComponent<int>

<div class="col-@Columns col-md-@ColumnsMd">
    <label class="form-label">@Name</label>
    
    <input class="form-control" type="number" @bind="Binder.Value"/>
    
    @if (Description != null)
    {
        <div class="form-text fs-6 text-gray-600">
            @Description
        </div>
    }
</div>