@inherits FastFormBaseComponent<List<T>> 

@using Microsoft.Extensions.DependencyInjection
@using MoonCore.Extended.Abstractions

@typeparam T where T : class

<div class="col-@Columns col-md-@ColumnsMd">
    <label class="form-label">@Name</label>

    <MCBMultiItemSelect @bind-Value="Binder.Value"
                        DisplayFunc="DisplayFunc"
                        SearchFunc="SearchFunc"
                        IconFunc="IconFunc"
                        PageSize="PageSize"
                        Items="Items"
                        ItemsCallback="ItemsCallback"/>

    @if (Description != null)
    {
        <div class="form-text fs-6 text-gray-600">
            @Description
        </div>
    }
</div>

@code
{
    [Parameter] public Func<T, string> DisplayFunc { get; set; }

    [Parameter] public Func<T, string> SearchFunc { get; set; }

    [Parameter] public Func<T, string>? IconFunc { get; set; }

    [Parameter] public int PageSize { get; set; } = 10;

    [Parameter] public IEnumerable<T>? Items { get; set; }

    [Parameter] public Func<IEnumerable<T>>? ItemsCallback { get; set; }

    protected override void OnInitialized()
    {
        if (Items == null && ItemsCallback == null)
        {
            var repo = ServiceProvider.GetRequiredService<Repository<T>>();
            Items = repo.Get().ToList();
        }
    }
}