@using MoonCore.Blazor.Tailwind.Modals.Components
@using MoonCore.Blazor.Tailwind.Components

@inherits BaseModal

<div class="grid grid-cols-2 gap-x-2 gap-y-2">
    @for (var i = 0; i < 5; i++)
    {
        <div class="col-span-2">
            <FilterComponent Name="@("Field " + i)" />
        </div>
    }
</div>

<WButton OnClick="_ => Apply()" CssClasses="btn btn-primary w-full mt-3">Apply filters</WButton>

@code
{
    private async Task Apply()
    {
        await Hide();
    }
}
