@page "/files/manager"

@using MoonCore.Blazor.FlyonUi.Files.Manager
@using MoonCore.Blazor.FlyonUi.Test.Services
@using MoonCore.Blazor.FlyonUi.Components
@using MoonCore.Blazor.FlyonUi.Files

@inject ChunkedFileTransferService ChunkedFileTransferService

<NavTabs Index="1" Names="UiConstants.FilesNames" Links="UiConstants.FilesLinks" />

<div class="mt-5">
    <FileManager FsAccess="FsAccess" />
</div>

@code
{
    private IFsAccess FsAccess;

    protected override void OnInitialized()
    {
        var path = Path.Combine("testFs");
        
        Directory.CreateDirectory(path);
        FsAccess = new HostFsAccess(path, ChunkedFileTransferService, new());
    }
}
