@page "/files/manager"

@using MoonCore.Blazor.FlyonUi.Files.Manager
@using MoonCore.Blazor.FlyonUi.Test.Services
@using MoonCore.Blazor.FlyonUi.Components

<NavTabs Index="1" Names="UiConstants.FilesNames" Links="UiConstants.FilesLinks" />

<div class="mt-5">
    <FileManager FileAccess="FileAccess" />
</div>

@code
{
    private IFileAccess FileAccess;

    protected override void OnInitialized()
    {
        var path = Path.Combine("testFs");
        
        Directory.CreateDirectory(path);
        FileAccess = new HostFileAccess(path);
    }
}
