<div class="card card-body p-2">
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="col-span-1">
            <div class="flex flex-row justify-start">
                <button class="btn btn-square btn-secondary grow-0 me-2">
                    <i class="icon-house"></i>
                </button>
                <button class="btn btn-square btn-secondary grow-0 me-2">
                    <i class="icon-chevron-up"></i>
                </button>
                <button class="btn btn-square btn-primary grow-0 me-4">
                    <i class="icon-refresh-cw"></i>
                </button>
                <div class="input grow">
                    <span class="icon-folder text-base-content/80 my-auto me-3 shrink-0"></span>
                    <input type="text" class="grow" value="/home/container" readonly="readonly"/>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="flex flex-row justify-end">
                <div class="btn btn-primary btn-outline text-base-content me-2">
                    <i class="icon-file-plus-2"></i>
                    File
                </div>
                <div class="btn btn-primary btn-outline text-base-content me-2">
                    <i class="icon-folder-plus"></i>
                    Folder
                </div>
                <div class="btn btn-primary text-base-content">
                    <i class="icon-upload"></i>
                    Upload
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    
}
