@page "/alerts"

@using MoonCore.Blazor.Tailwind.Alerts

@inject AlertService AlertService

<div class="space-x-2">
    <button @onclick="SuccessClick" class="btn btn-success">Success</button>
    <button @onclick="InfoClick" class="btn btn-info">Info</button>
    <button @onclick="WarningClick" class="btn btn-warning">Warning</button>
    <button @onclick="DangerClick" class="btn btn-danger">Danger</button>
</div>

@code
{

    private Task SuccessClick() => AlertService.Success("Title example", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.");
    private Task InfoClick() => AlertService.Info("Title example", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.");
    private Task WarningClick() => AlertService.Warning("Title example", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.");
    private Task DangerClick() => AlertService.Danger("Title example", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.");
}