@page "/alerts"

@using MoonCore.Blazor.Tailwind.Alerts
@using MoonCore.Blazor.Tailwind.Test.Models
@using MoonCore.Blazor.Tailwind.Toasts

@inject AlertService AlertService
@inject ToastService ToastService

<div class="space-x-2">
    <button @onclick="SuccessClick" class="btn btn-success">Success</button>
    <button @onclick="InfoClick" class="btn btn-info">Info</button>
    <button @onclick="WarningClick" class="btn btn-warning">Warning</button>
    <button @onclick="DangerClick" class="btn btn-danger">Danger</button>
    <button @onclick="FormClick" class="btn btn-danger">Launch Form</button>
</div>

@code
{

    private Task SuccessClick() => AlertService.Success("Title example", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.");
    private Task InfoClick() => AlertService.Info("Title example", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.");
    private Task WarningClick() => AlertService.Warning("Title example", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.");
    private Task DangerClick() => AlertService.Danger("Title example", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.");
    
    private Task FormClick() => AlertService.FormAlert<AlertModel>("Title example", configuration =>
    {
        configuration.WithField(x => x.Type1, fieldConfiguration =>
        {
            fieldConfiguration.Columns = 6;
        });
        
        configuration.WithField(x => x.Type2, fieldConfiguration =>
        {
            fieldConfiguration.Columns = 6;
        });
        
        configuration.WithField(x => x.Type3, fieldConfiguration =>
        {
            fieldConfiguration.Columns = 6;
        });
        
        configuration.WithField(x => x.Type4, fieldConfiguration =>
        {
            fieldConfiguration.Columns = 6;
        });
    }, async model =>
    {
        await ToastService.Success(":)", $"Value: {model.Type1}");
    });
}