@page "/statedisplays"
@using MoonCore.Blazor.Tailwind.States

<div class="grid grid-cols-3 gap-x-5 gap-y-5">
    
    <StateDisplay Title="Information"
                  Description="Information lore ipsum test test test"
                  Type="StateType.Information"/>

    <StateDisplay Title="Warning"
                  Description="Warning lore ipsum test test test"
                  Type="StateType.Warning"/>

    <StateDisplay Title="Success"
                  Description="Success lore ipsum test test test"
                  Type="StateType.Success"/>

    <StateDisplay Title="Error"
                  Description="Error lore ipsum test test test"
                  Type="StateType.Error"/>

    <StateDisplay Title="Empty"
                  Description="Empty lore ipsum test test test"
                  Type="StateType.Empty"/>

    <StateDisplay Title="Custom"
                  Description="Custom lore ipsum test test test"
                  Icon="icon-server-cog"
                  IconColor="text-secondary-500"
                  Type="StateType.Custom"/>
    
</div>