@page "/updownloadtest"
@using MoonCore.Blazor.Tailwind.Fm
@using MoonCore.Blazor.Tailwind.Services
@using MoonCore.Blazor.Tailwind.Toasts
@using MoonCore.Helpers

@inject DownloadService DownloadService
@inject ToastService ToastService

<button @onclick="DownloadViaUrl" class="btn btn-primary">Download via URL</button>
<button @onclick="DownloadViaStream" class="btn btn-primary">Download via Stream</button>

<button @onclick="UploadChunked" class="btn btn-primary">Upload chunked</button>

@code
{
    private async Task DownloadViaUrl()
    {
        await ToastService.Launch<DownloadToast>(parameters =>
        {
            parameters.Add("Work", async Task (DownloadToast toast) =>
            {
                await DownloadService.DownloadUrl("testy.bin", "http://localhost:5230/testy.bin", async (loaded, total) =>
                {
                    var percent = total == 0 ? 0 : (int)Math.Round((float)loaded / total * 100);
                    
                    await toast.Update(
                        "testy.bin",
                        percent
                    );
                }, 
                onConfigureHeaders: headers => { headers.Add("TestyA", "TestyB"); });
            });
        });
    }

    private async Task DownloadViaStream()
    {
        await ToastService.Launch<DownloadToast>(parameters =>
        {
            parameters.Add("Work", async Task (DownloadToast toast) =>
            {
                var fs = File.Open(PathBuilder.File("wwwroot", "testy.bin"), FileMode.Open, FileAccess.Read, FileShare.ReadWrite);

                await DownloadService.DownloadStream("testy.bin", fs, async (loaded, _) =>
                {
                    var percent = fs.Length == 0 ? 0 : (int)Math.Round((float)loaded / fs.Length * 100);
                    
                    await toast.Update(
                        "testy.bin",
                        percent
                    );
                },
                onEnd: () =>
                {
                    fs.Close();
                    return Task.CompletedTask;
                });
            });
        });
    }
    
    private async Task UploadChunked()
    {
        using var httpClient = new HttpClient();
        var fs = File.Open(Path.Combine("wwwroot", "data.webm"), FileMode.Open, FileAccess.Read, FileShare.ReadWrite);

        var size = fs.Length;
        var chunkSize = ByteConverter.FromMegaBytes(50).Bytes;
        
        var chunks = size / chunkSize;
        chunks += size % chunkSize > 0 ? 1 : 0;

        Console.WriteLine($"Sending {chunks} chunks");

        for (var i = 0; i < chunks; i++)
        {
            Console.WriteLine($"Sending chunk: {i}");

            var chunkPosition = chunkSize * i;

            fs.Position = chunkPosition;
            
            var buffer = new byte[chunkSize];
            var bytesRead = fs.Read(buffer);
            var resizedBuffer = new byte[bytesRead];
            Array.Copy(buffer, resizedBuffer, bytesRead);

            var uploadForm = new MultipartFormDataContent();
            
            uploadForm.Add(new ByteArrayContent(resizedBuffer), "file", "file");

            await httpClient.PostAsync(
                $"http://localhost:5230/api/cu?path=testy.webm&totalSize={size}&chunkId={i}",
                uploadForm
            );
        }
    }
}
