@typeparam TItem

@if (!Pagination.DataTable.IsLoading)
{
    <nav class="flex flex-row justify-between items-start px-4 py-2 mt-1">
        <span class="text-sm font-normal text-base-content/80">
        @{
            var start = 0;
            var end = 0;

            if (Pagination.PagedData.TotalItems != 0)
            {
                start = Pagination.PagedData.CurrentPage * Pagination.PagedData.PageSize + 1;

                var fullEnd = Pagination.Options.Page * Pagination.Options.PerPage + Pagination.Options.PerPage;

                if (Pagination.PagedData.TotalItems < fullEnd)
                    end = Pagination.PagedData.CurrentPage * Pagination.PagedData.PageSize + (Pagination.PagedData.TotalItems - start + 1);
                else
                    end = fullEnd;
            }
        }

        Showing
        <span class="font-semibold text-base-content">@(start)-@(end)</span>
        of
        <span class="font-semibold text-base-content">
            @Pagination.PagedData.TotalItems
        </span>
    </span>
        <div class="flex">
            @if (Pagination.PagedData.CurrentPage == 0)
            {
                <button
                    class="btn btn-sm btn-secondary"
                    disabled="disabled">
                    Previous
                </button>
            }
            else
            {
                <button @onclick="() => NavigateAsync(-1)"
                        class="btn btn-sm btn-secondary">
                    Previous
                </button>
            }

            @if (Pagination.PagedData.CurrentPage == Pagination.PagedData.TotalPages || Pagination.PagedData.TotalItems == 0)
            {
                <button
                    class="ms-3 btn btn-sm btn-secondary"
                    disabled="disabled">
                    Next
                </button>
            }
            else
            {
                <button @onclick="() => NavigateAsync(1)"
                        class="ms-3 btn btn-sm btn-secondary">
                    Next
                </button>
            }
        </div>
    </nav>
}

@code
{
    [Parameter] public Pagination<TItem> Pagination { get; set; }

    private async Task NavigateAsync(int diff)
    {
        Pagination.Options.Page += diff;

        if (Pagination.Options.Page < 0)
            Pagination.Options.Page = 0;
        else if (Pagination.Options.Page > Pagination.PagedData.TotalPages)
            Pagination.Options.Page = Pagination.PagedData.TotalPages;

        await Pagination.DataTable.RefreshAsync();
    }
}
