@page "/components/lazyloaders"

@using MoonCore.Blazor.FlyonUi.Components
@using MoonCore.Exceptions

<NavTabs Index="1" Names="UiConstants.ComponentNames" Links="UiConstants.ComponentLinks" Icons="UiConstants.ComponentIcons" />

<div class="mt-5">
    <LazyLoader Load="Load">
        <h3 class="text-lg">Loaded :)</h3>
    </LazyLoader>
</div>

<div class="mt-5">
    <LazyLoader Load="LoadFailed">
        <h3 class="text-lg">Loaded :)</h3>
    </LazyLoader>
</div>

@code
{
    private async Task Load(LazyLoader lazyLoader)
    {
        await Task.Delay(TimeSpan.FromSeconds(3));

        await lazyLoader.UpdateText("Doing something amazing");

        await Task.Delay(TimeSpan.FromSeconds(5));
    }
    
    private async Task LoadFailed(LazyLoader lazyLoader)
    {
        await Task.Delay(TimeSpan.FromSeconds(3));

        throw new HttpApiException("Whoops", 400, "Something went wrong :)");
    }
}