@page "/"
@using MoonCore.Blazor.FlyonUi.Exceptions

<PageTitle>Home</PageTitle>

<div class="mt-5">
    <div class="radial-progress text-primary text-xs bg-base-200" style="--value: 45; --size: 3rem" role="progressbar" aria-label="Primary Radial Progressbar">
        45%
    </div>
</div>

<div class="mt-5">
    <div class="w-full overflow-x-auto">
        <table class="table bg-base-150">
            <thead>
            <tr class="bg-base-300/50 *:first:rounded-tl-lg *:last:rounded-tr-lg border-0 text-xs leading-3">
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John Doe</td>
                <td>johndoe@example.com</td>
                <td><span class="badge badge-soft badge-success text-xs">Professional</span></td>
                <td>March 1, 2024</td>
                <td>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span
                            class="icon-[tabler--pencil] size-5"></span></button>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span
                            class="icon-[tabler--trash] size-5"></span></button>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span
                            class="icon-[tabler--dots-vertical] size-5"></span></button>
                </td>
            </tr>
            <tr>
                <td>Jane Smith</td>
                <td>janesmith@example.com</td>
                <td><span class="badge badge-soft badge-error text-xs">Rejected</span></td>
                <td>March 2, 2024</td>
                <td>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span
                            class="icon-[tabler--pencil] size-5"></span></button>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span
                            class="icon-[tabler--trash] size-5"></span></button>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span
                            class="icon-[tabler--dots-vertical] size-5"></span></button>
                </td>
            </tr>
            <tr>
                <td>Alice Johnson</td>
                <td>alicejohnson@example.com</td>
                <td><span class="badge badge-soft badge-info text-xs">Applied</span></td>
                <td>March 3, 2024</td>
                <td>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span
                            class="icon-[tabler--pencil] size-5"></span></button>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span
                            class="icon-[tabler--trash] size-5"></span></button>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span
                            class="icon-[tabler--dots-vertical] size-5"></span></button>
                </td>
            </tr>
            <tr>
                <td>Bob Brown</td>
                <td>bobrown@example.com</td>
                <td><span class="badge badge-soft badge-primary text-xs">Current</span></td>
                <td>March 4, 2024</td>
                <td>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span
                            class="icon-[tabler--pencil] size-5"></span></button>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span
                            class="icon-[tabler--trash] size-5"></span></button>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span
                            class="icon-[tabler--dots-vertical] size-5"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="flex flex-row justify-between mt-1.5">
        <div class="flex justify-start">
            <nav class="flex items-center gap-x-1">
                <button type="button" class="btn btn-soft btn-sm">Previous</button>
                <div class="flex items-center gap-x-1">
                    <button type="button" class="btn btn-soft btn-sm btn-square aria-[current='page']:text-bg-soft-primary">1</button>
                    <button type="button" class="btn btn-soft btn-sm btn-square aria-[current='page']:text-bg-soft-primary" aria-current="page">2</button>
                    <button type="button" class="btn btn-soft btn-sm btn-square aria-[current='page']:text-bg-soft-primary">3</button>
                </div>
                <button type="button" class="btn btn-soft btn-sm">Next</button>
            </nav>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="card">
        <div class="card-header flex flex-row">
            <div class="card-title text-base">Permissions</div>
            <div class="flex items-center gap-2 ms-3">
                <div class="inline-grid *:[grid-area:1/1]">
                    <div class="status status-error animate-ping"></div>
                    <div class="status status-error"></div>
                </div>
                <span>Server is down</span>
            </div>
        </div>
        <div class="card-body">
            <div class="join drop-shadow">
                <input class="join-item btn btn-soft text-base-content" type="radio" name="radio-15"
                       aria-label="None"
                       checked/>
                <input class="join-item btn btn-soft text-base-content" type="radio" name="radio-15"
                       aria-label="Read"/>
                <input class="join-item btn btn-soft text-base-content" type="radio" name="radio-15"
                       aria-label="Read & Write"/>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="skeleton skeleton-animated h-32 w-full"></div>
</div>

<div class="mt-5">
    <button @onclick="DisplayError" class="btn btn-error">I will display an error</button>
</div>

@code
{
    private async Task DisplayError()
    {
        throw new DisplayException("An error occured or smth");
    }
}
