@using MoonCore.Blazor.FlyonUi.Components
@inherits BaseToast

<div class="flex-shrink-0 flex items-center">
    <Spinner />
</div>
<div class="ml-3 w-0 pt-0.5 flex-1">
    <p class="text-sm font-medium text-base-content">
        @Title
    </p>
    <p class="mt-1 text-sm text-base-content/80">
        @Text
    </p>
</div>

@code
{
    /// <summary>
    /// Title of the toast
    /// </summary>
    [Parameter] public string Title { get; set; }
    
    /// <summary>
    /// Content of the toast
    /// </summary>
    [Parameter] public string Text { get; set; }
    
    /// <summary>
    /// Worker callback which hides the toast after the callback has returned.
    /// Call your actual work code inside this callback
    /// </summary>
    [Parameter] public Func<ProgressToast, Task> Work { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await Work.Invoke(this);
        await HideAsync();
    }

    /// <summary>
    /// Update the text of the progress
    /// </summary>
    /// <param name="text">New text to show as the status</param>
    public async Task UpdateTextAsync(string text)
    {
        Text = text;
        await InvokeAsync(StateHasChanged);
    }
}