<div class="card card-body flex flex-row justify-between items-center p-2 mb-5">
    <div class="flex items-center text-base-content">
        <i class="icon-film text-lg ms-2 me-1.5"></i>
        <span>@FileName</span>
    </div>
    <div>
        <button @onclick="CloseAsync" class="btn btn-error">Close</button>
    </div>
</div>

<div class="card card-body p-1.5 w-full">
    <video class="w-full h-full" controls>
        <source src="@Url" type="video/mp4">
        Your browser does not support HTML video.
    </video>
</div>

@code
{
    /// <summary>
    /// URL to load the video from. Retrieved by the download access
    /// </summary>
    [Parameter] public string Url { get; set; }
    
    /// <summary>
    /// Callback which will be invoked when the user wants to close the video
    /// </summary>
    [Parameter] public Func<Task> OnClose { get; set; }
    
    /// <summary>
    /// Filename of the video to show to the user
    /// </summary>
    [Parameter] public string FileName { get; set; }

    private async Task CloseAsync() => await OnClose.Invoke();
}