@using MoonCore.Helpers
@inherits MoonCore.Blazor.FlyonUi.Modals.BaseModal

<div class="flex flex-col gap-6 p-5">
    <div class="flex justify-center">
        <div class="avatar avatar-placeholder border-success/30 rounded-full border p-2.5">
            <div class="bg-success flex size-12 items-center justify-center rounded-full">
                <span class="icon-check text-2xl text-success-content"></span>
            </div>
        </div>
    </div>

    <div class="space-y-4 text-center">
        <h3 class="text-base-content text-2xl font-semibold">
            @Title
        </h3>
        <p class="text-base-content/80">
            @Formatter.FormatLineBreaks(Text)
        </p>
    </div>

    <div class="flex justify-center">
        <button @onclick="HideAsync" type="button" class="btn btn-primary">
            Got it
        </button>
    </div>
</div>

@code
{
    [Parameter] public string Title { get; set; }
    [Parameter] public string Text { get; set; }
}
