@inherits FastFormBaseComponent<bool>

<div class="col-@Columns col-md-@ColumnsMd">

    <label class="form-label">@Name</label>
    
    <div class="form-check">
        <input class="form-check-input" type="checkbox" @bind="Binder.Value" />
    </div>


    @if (Description != null)
    {
        <div class="form-text fs-6 text-gray-600">
            @Description
        </div>
    }
</div>