@using MoonCore.Blazor.Tailwind.Toasts.Components

@inherits BaseToast

<div class="flex-shrink-0">
    <i class="icon-cloud-upload text-2xl text-info"></i>
</div>
<div class="ml-3 w-0 flex-1 pt-0.5">
    <p class="text-sm font-medium text-gray-100 truncate">
        @Title
    </p>
    <div class="mt-1 text-sm text-gray-400 grid grid-cols-2 justify-between">
        @if (IsCompleted)
        {
            <div class="col-span-2">Completed</div>
        }
        else if (Percent == -1)
        {
            <div class="col-span-2">
                @Left/@Count
            </div>
        }
        else
        {
            <div class="col-span-1">
                @Percent%
            </div>
            <div class="col-span-1">
                @Left/@Count
            </div>
        }
    </div>
</div>

@code
{
    [Parameter] public string Title { get; set; } = "Uploading";
    [Parameter] public int Count { get; set; } = 0;
    [Parameter] public int Percent { get; set; } = 0;
    [Parameter] public int Left { get; set; } = 0;
    [Parameter] public TimeSpan Delay { get; set; } = TimeSpan.FromSeconds(3);
    [Parameter] public Func<UploadToast, Task> Work { get; set; }

    private bool IsCompleted = false;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await Work.Invoke(this);

        IsCompleted = true;
        await InvokeAsync(StateHasChanged);
        
        Task.Run(async () =>
        {
            await Task.Delay(Delay);
            await Hide();
        });
    }

    public async Task Update(string title, int percent, int count, int left)
    {
        Title = title;
        Percent = percent;
        Count = count;
        Left = left;

        await InvokeAsync(StateHasChanged);
    }
}