@page "/files/editor"

@using MoonCore.Blazor.FlyonUi.Ace
@using MoonCore.Blazor.FlyonUi.Components

<NavTabs Index="2" Names="UiConstants.FilesNames" Links="UiConstants.FilesLinks" />

<div class="mt-5">
    <CodeEditor InitialContent="Testy" OnConfigure="OnConfigure" />
</div>


@code
{

    private void OnConfigure(CodeEditorOptions options)
    {
        options.FontFamily = "Source Code Pro";
    }
}