@page "/files"

@using MoonCore.Blazor.FlyonUi.Common
@using MoonCore.Blazor.FlyonUi.Files
@using MoonCore.Blazor.FlyonUi.Files.View
@using MoonCore.Blazor.FlyonUi.Components

<NavTabs Index="0" Names="UiConstants.FilesNames" Links="UiConstants.FilesLinks" />

<div class="mt-5">
    <FileView Load="LoadAsync" ShowDate="true" ShowSize="true" OnClick="OnClick" CustomClickLink="CustomClickLink">
        
    </FileView>
</div>

@code
{
    private async Task<IEnumerable<FsEntry>> LoadAsync()
    {
        return [
            new FsEntry()
            {
                Name = "folder1",
                IsFolder = true,
                Size = 0,
                CreatedAt = DateTimeOffset.Now,
                UpdatedAt = DateTimeOffset.Now
            },
            new FsEntry()
            {
                Name = "folder2",
                IsFolder = true,
                Size = 0,
                CreatedAt = DateTimeOffset.Now,
                UpdatedAt = DateTimeOffset.Now
            },
            new FsEntry()
            {
                Name = "file1",
                IsFolder = false,
                Size = 0,
                CreatedAt = DateTimeOffset.Now,
                UpdatedAt = DateTimeOffset.Now
            },
            new FsEntry()
            {
                Name = "file2",
                IsFolder = false,
                Size = 0,
                CreatedAt = DateTimeOffset.Now,
                UpdatedAt = DateTimeOffset.Now
            },
            new FsEntry()
            {
                Name = "file3",
                IsFolder = false,
                Size = 0,
                CreatedAt = DateTimeOffset.Now,
                UpdatedAt = DateTimeOffset.Now
            }
        ];
    }

    private Task OnClick(FsEntry arg)
    {
        return Task.CompletedTask;
    }

    private string CustomClickLink(FsEntry arg) => $"/files?path=/{arg.Name}";
}
