@theme {
    /* Color Variables */

    --color-primary: rgb(99 102 241);
    --color-secondary: rgb(31, 41, 55);
    --color-tertiary: rgb(139 92 246);
    --color-warning: rgb(234 179 8);
    --color-danger: rgb(239 68 68);
    --color-success: rgb(34 197 94);
    --color-info: rgb(59 130 246);

    /* Gray */

    --color-gray-100: rgb(249 249 249);
    --color-gray-200: rgb(241 241 242);
    --color-gray-300: rgb(219 223 233);
    --color-gray-400: rgb(181 181 195);
    --color-gray-500: rgb(153 161 183);
    --color-gray-600: rgb(112 121 147);
    --color-gray-700: rgb(68 78 107);
    --color-gray-750: rgb(41 50 73);
    --color-gray-800: rgb(28 36 56);
    --color-gray-900: rgb(17 23 33);
    --color-gray-950: rgb(14 18 28);

    /* Full Colors */

    --color-light: rgb(255 255 255);
    --color-dark: rgb(0 0 0);
    --color-diffcolor: rgb(var(--color-light));
}