@layer base {
    :root {
        
        /* Color Variables */
        
        /* Primary */
        --color-primary-50: 238 242 255;
        --color-primary-100: 224 231 255;
        --color-primary-200: 199 210 254;
        --color-primary-300: 165 180 252;
        --color-primary-400: 129 140 248;
        --color-primary-500: 99 102 241;
        --color-primary-600: 79 70 229;
        --color-primary-700: 67 56 202;
        --color-primary-800: 55 48 163;
        --color-primary-900: 49 46 129;
        --color-primary-950: 30 27 75;
        
        /* Secondary */
        
        --color-secondary-100: 249 249 249;
        --color-secondary-200: 241 241 242;
        --color-secondary-300: 219 223 233;
        --color-secondary-400: 181 181 195;
        --color-secondary-500: 153 161 183;
        --color-secondary-600: 112 121 147;
        --color-secondary-700: 68 78 107;
        --color-secondary-800: 28 36 56;
        --color-secondary-900: 17 23 33;
        --color-secondary-950: 14 18 28;
        
        /* Tertiary */
        
        --color-tertiary-50: 245 243 255;
        --color-tertiary-100: 237 233 254;
        --color-tertiary-200: 221 214 254;
        --color-tertiary-300: 196 181 253;
        --color-tertiary-400: 167 139 250;
        --color-tertiary-500: 139 92 246;
        --color-tertiary-600: 124 58 237;
        --color-tertiary-700: 109 40 217;
        --color-tertiary-800: 91 33 182;
        --color-tertiary-900: 76 29 149;
        --color-tertiary-950: 46 16 101;
        
        /* Warning */
        
        --color-warning-50: 254 252 232;
        --color-warning-100: 254 249 195;
        --color-warning-200: 254 240 138;
        --color-warning-300: 253 224 71;
        --color-warning-400: 250 204 21;
        --color-warning-500: 234 179 8;
        --color-warning-600: 202 138 4;
        --color-warning-700: 161 98 7;
        --color-warning-800: 133 77 14;
        --color-warning-900: 113 63 18;
        --color-warning-950: 66 32 6;
        
        /* Danger */
        
        --color-danger-50: 254 242 242;
        --color-danger-100: 254 226 226;
        --color-danger-200: 254 202 202;
        --color-danger-300: 252 165 165;
        --color-danger-400: 248 113 113;
        --color-danger-500: 239 68 68;
        --color-danger-600: 220 38 38;
        --color-danger-700: 185 28 28;
        --color-danger-800: 153 27 27;
        --color-danger-900: 127 29 29;
        --color-danger-950: 69 10 10;
        
        /* Success */
        
        --color-success-50: 240 253 244;
        --color-success-100: 220 252 231;
        --color-success-200: 187 247 208;
        --color-success-300: 134 239 172;
        --color-success-400: 74 222 128;
        --color-success-500: 34 197 94;
        --color-success-600: 22 163 74;
        --color-success-700: 21 128 61;
        --color-success-800: 22 101 52;
        --color-success-900: 20 83 45;
        --color-success-950: 5 46 22;
        
        /* Info */
        
        --color-info-50: 239 246 255;
        --color-info-100: 219 234 254;
        --color-info-200: 191 219 254;
        --color-info-300: 147 197 253;
        --color-info-400: 96 165 250;
        --color-info-500: 59 130 246;
        --color-info-600: 37 99 235;
        --color-info-700: 29 78 216;
        --color-info-800: 30 64 175;
        --color-info-900: 30 58 138;
        --color-info-950: 23 37 84;
        
        /* Gray */
        
        --color-gray-100: 249 249 249;
        --color-gray-200: 241 241 242;
        --color-gray-300: 219 223 233;
        --color-gray-400: 181 181 195;
        --color-gray-500: 153 161 183;
        --color-gray-600: 112 121 147;
        --color-gray-700: 68 78 107;
        --color-gray-750: 41 50 73;
        --color-gray-800: 28 36 56;
        --color-gray-900: 17 23 33;
        --color-gray-950: 14 18 28;

        /* Full Colors */
        
        --color-light: 255 255 255;
        --color-dark: 0 0 0;
    }
}