@page "/auth/privileged"

@using Microsoft.AspNetCore.Authorization
@using MoonCore.Blazor.Tailwind.Components

@attribute [Authorize(Policy = "permissions:privileged.testy.page")]

<div class="mb-5">
    <NavTabs Index="1" Names="UiConstants.AuthNames" Links="UiConstants.AuthLinks" />
</div>

<h1>Hey~</h1>