@page "/auth/privileged"

@using MoonCore.Attributes
@using MoonCore.Blazor.Tailwind.Components

@attribute [RequirePermission("test.testy.get")]

<div class="mb-5">
    <NavTabs Index="1" Names="UiConstants.AuthNames" Links="UiConstants.AuthLinks" />
</div>

<h1>Hey~</h1>