@page "/act"

@using MoonCore.Blazor.Test.Data
@using MoonCore.Blazor.Bootstrap.Forms.Auto
@using MoonCore.Blazor.Bootstrap.Forms
@using MoonCore.Blazor.Test.Forms
@using MoonCore.Blazor.Bootstrap.Forms.Table
@using MoonCore.Extended.Abstractions

@code {

    private IEnumerable<Car> Search(IEnumerable<Car> items, string searchTerm)
    {
        return items.Where(x => x.Name.Contains(searchTerm));
    }

}

<AutoCrud TItem="Car"
          TCreateForm="CreateCarForm"
          TUpdateForm="UpdateCarForm"
          Search="Search">
    <View>
        <MCBColumn TItem="Car" Field="@(x => x.Id)" Title="Id"/>
        <MCBColumn TItem="Car" Field="@(x => x.Name)" Title="Name"/>
        <MCBColumn TItem="Car" Field="@(x => x.Plate)" Title="Plate"/>
    </View>
    <CreateFormOptions>
        <DefineCustomPage Name="OwO">
            <h1>OwO</h1>
        </DefineCustomPage>
    </CreateFormOptions>
</AutoCrud>