@page "/uwu"
@using MoonCore.Blazor.Test.Forms
@using MoonCore.Blazor.Bootstrap.Forms.FastForms
@using MoonCore.Blazor.Bootstrap.Models.FastForms.Validators
@using MoonCore.Blazor.Bootstrap.Models.FastForms

<FastForm @ref="FastForm" Model="Form" OnConfigure="OnConfigure" />

<button @onclick="() => FastForm.Submit()" class="btn btn-primary">Do something</button>

@code
{
    private UwuForm Form = new();
    private FastForm<UwuForm> FastForm;

    private void OnConfigure(FastFormConfiguration<UwuForm> configuration)
    {
        configuration.AddProperty(x => x.Input)
            .WithComponent<MyTestyComponent>(component =>
            {
                component.ShouldShowSomethingSpecial = true;
            })
            .WithValidation(new RequiredValidator());
    }
}
