@page "/why"

<DynamicComponent @ref="DynamicComponent" Type="typeof(Counter)"></DynamicComponent>

<button @onclick="Callback" class="btn btn-danger">Elo from the outside</button>

@code 
{
    private DynamicComponent DynamicComponent;

    private async Task Callback()
    {
        ((Counter)DynamicComponent.Instance).IncrementCount();
    }
}