@using Microsoft.AspNetCore.Components.Rendering
@using MoonCore.Blazor.FlyonUi.Common
@typeparam TGridItem

@code
{
    [Parameter] public string? HeaderCss { get; set; }
    [Parameter] public string? Title { get; set; }
    
    private void RenderDefaultHeader(RenderTreeBuilder __builder)
    {
        <th scope="col" class="@HeaderCss">
            @if (Sortable)
            {
                if (SortingDirection == null)
                {
                    <div class="flex items-center hover:cursor-pointer" @onclick:preventDefault
                         @onclick="() => Parent.SetColumnSortingAsync(this, SortDirection.Ascending)">
                        @Title
                        <i class="ms-1 icon-chevron-down text-sm"></i>
                    </div>
                }
                else if (SortingDirection == SortDirection.Descending)
                {
                    <div class="flex items-center hover:cursor-pointer" @onclick:preventDefault
                         @onclick="() => Parent.SetColumnSortingAsync(this, null)">
                        @Title
                        <i class="ms-1 icon-chevron-down text-sm"></i>
                    </div>
                }
                else
                {
                    <div class="flex items-center hover:cursor-pointer" @onclick:preventDefault
                         @onclick="() => Parent.SetColumnSortingAsync(this, SortDirection.Descending)">
                        @Title
                        <i class="ms-1 icon-chevron-up text-sm"></i>
                    </div>
                }
            }
            else
            {
                <div class="me-1">
                    @Title
                </div>
            }
        </th>
    }
}
