<div class="form-input p-1 text-sm flex flex-wrap w-full gap-y-1">
    @foreach (var tag in InternalTags)
    {
        <div href="#"
           @onclick:preventDefault
           @onclick="() => RemoveTag(tag)"
           class="bg-primary rounded-lg py-1 px-1.5 me-1 cursor-pointer flex items-center">
            @tag
        </div>
    }
    <input @onkeyup="OnKeyUp"
           @bind="InputField"
           @bind:event="oninput"
           type="text"
           class="min-w-0 bg-transparent placeholder-gray-500 focus:outline-none focus:ring-0 border-transparent text-sm p-1"
           placeholder="Enter..."/>
</div>

@code
{

    #region Binder

    [Parameter]
    public string[]? Value
    {
        get => _value;
        set
        {
            if (_value == value)
                return;

            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }

    [Parameter] public EventCallback<string[]?> ValueChanged { get; set; }

    private string[]? _value;

    #endregion

    private List<string> InternalTags = new();
    private string InputField = "";

    protected override void OnInitialized()
    {
        InternalTags = Value?.ToList() ?? [];
    }

    private async Task RemoveTag(string tag)
    {
        InternalTags.Remove(tag);
        
        Value = InternalTags.ToArray();

        await InvokeAsync(StateHasChanged);
    }

    private async Task OnKeyUp(KeyboardEventArgs keyboardEventArgs)
    {
        if (keyboardEventArgs.Code != "Space" && keyboardEventArgs.Code != "Enter")
            return;
        
        var value = InputField.Trim();

        if (string.IsNullOrEmpty(value))
            return;

        if (InternalTags.Contains(value))
            return;

        InternalTags.Add(
            value
        );
        
        InputField = "";
        Value = InternalTags.ToArray();

        await InvokeAsync(StateHasChanged);
    }
}