@using System.Reflection
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using MoonCore.Blazor.FlyonUi.Auth
@using MoonCore.Exceptions
@using MoonCore.Blazor.FlyonUi.Exceptions

<CrashHandler>
    @if (IsLoading)
    {
        if (LoadingTemplate != null)
        {
            @LoadingTemplate
        }
        else
        {
            <div class="flex h-screen justify-center items-center">
                <div class="sm:max-w-lg">
                    <IconAlert Title="Loading"
                               Color="text-primary"
                               Icon="icon-loader">
                        Preparing application
                    </IconAlert>
                </div>
            </div>
        }
    }
    else
    {
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <Router AppAssembly="AppAssembly" AdditionalAssemblies="AdditionalAssemblies">
                        <Found Context="routeData">
                            <LayoutView Layout="@DefaultLayout">
                                <GlobalErrorHandler>
                                    <AuthorizeRouteView RouteData="routeData" Context="_">
                                        <NotAuthorized>
                                            <div class="flex justify-center items-center mt-10">
                                                <div class="sm:max-w-lg">
                                                    <IconAlert Title="Permission denied"
                                                               Color="text-error"
                                                               Icon="icon-ban">
                                                        <div>You are missing the required permission(s)</div>
                                                    </IconAlert>
                                                </div>
                                            </div>
                                        </NotAuthorized>
                                    </AuthorizeRouteView>
                                </GlobalErrorHandler>
                            </LayoutView>
                        </Found>
                        <NotFound>
                            <LayoutView Layout="DefaultLayout">
                                @if (NotFoundTemplate == null)
                                {
                                    <PageTitle>Not found</PageTitle>

                                    <div class="mt-10">
                                        <IconAlert Title="Page not found"
                                                   Icon="icon-search"
                                                   Color="text-primary">
                                            The requested page could not be found
                                        </IconAlert>
                                    </div>
                                }
                                else
                                {
                                    @NotFoundTemplate
                                }
                            </LayoutView>
                        </NotFound>
                    </Router>
                </Authorized>
                <Authorizing>
                    @if (AuthenticatingTemplate != null)
                    {
                        @AuthenticatingTemplate
                    }
                    else
                    {
                        <div class="flex h-screen justify-center items-center">
                            <div class="sm:max-w-lg">
                                <IconAlert Title="Checking authentication state"
                                           Color="text-primary"
                                           Icon="icon-arrow-up-down">
                                    Loading authentication state from identity provider
                                </IconAlert>
                            </div>
                        </div>
                    }
                </Authorizing>
                <NotAuthorized>
                    @if (LoginTemplate != null)
                    {
                        @LoginTemplate
                    }
                    else
                    {
                        <DefaultLoginTemplate/>
                    }
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    }
</CrashHandler>

@code
{
    /// <summary>
    /// Main assembly to search for blazor pages
    /// </summary>
    [Parameter] public required Assembly AppAssembly { get; set; }
    
    /// <summary>
    /// An enumerable of assemblies to search for blazor pages
    /// </summary>
    [Parameter] public IEnumerable<Assembly> AdditionalAssemblies { get; set; } = [];
    
    /// <summary>
    /// Type of the main layout to place the content in it
    /// </summary>
    [Parameter] public required Type DefaultLayout { get; set; }
    
    /// <summary>
    /// <b>Optional:</b> Disables the initial loading screen used to fix interop issues
    /// </summary>
    [Parameter] public bool DisableBlazorServerSideSafeMode { get; set; } = false;

    /// <summary>
    /// <b>Optional:</b> Template to show when the user is not authenticated
    /// </summary>
    [Parameter] public RenderFragment? LoginTemplate { get; set; }
    
    /// <summary>
    /// <b>Optional:</b> Template which is shown when the authentication is in progress
    /// </summary>
    [Parameter] public RenderFragment? AuthenticatingTemplate { get; set; }
    
    /// <summary>
    /// <b>Optional:</b> Template which is shown when the application is initializing
    /// </summary>
    [Parameter] public RenderFragment? LoadingTemplate { get; set; }
    
    /// <summary>
    /// <b>Optional:</b> Template for the 404 page of the application
    /// </summary>
    [Parameter] public RenderFragment? NotFoundTemplate { get; set; }

    private bool IsLoading = true;

    protected override void OnInitialized()
    {
        if (DisableBlazorServerSideSafeMode)
            IsLoading = false;
    }

    // We need this loading state to prevent blazor server from calling the authentication stuff twice
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (DisableBlazorServerSideSafeMode || !firstRender)
            return;

        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }
}