<div class="text-center">
    <i class="@(Icon) text-4xl @(Color)"></i>
    <h3 class="mt-2 font-semibold text-base-content text-lg">@(Title)</h3>
    @if (ChildContent != null)
    {
        <p class="mt-1 text-base-content/80">
            @ChildContent
        </p>
    }
</div>

@code
{
    [Parameter] public string Icon { get; set; } = "";
    [Parameter] public string Color { get; set; } = "";
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}