<div class="text-center">
    <i class="@(Icon) text-4xl @(Color)"></i>
    <h3 class="mt-2 font-semibold text-base-content text-lg">@(Title)</h3>
    @if (ChildContent != null)
    {
        <p class="mt-1 text-base-content/80">
            @ChildContent
        </p>
    }
</div>

@code
{
    /// <summary>
    /// Icon to use. For a reference, look <see href="https://lucide.dev/icons">here</see>
    /// </summary>
    [Parameter] public string Icon { get; set; } = "";
    
    /// <summary>
    /// Color for the icon
    /// </summary>
    [Parameter] public string Color { get; set; } = "";
    
    /// <summary>
    /// Title for icon alert
    /// </summary>
    [Parameter] public string Title { get; set; } = "";
    
    /// <summary>
    /// Content below the icon alert
    /// </summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }
}