<div class="flex">
    <nav class="tabs bg-base-200 rounded-field w-fit space-x-1 overflow-x-auto p-1" role="tablist">
        @for (var i = 0; i < Names.Length; i++)
        {
            <a href="@(Links[i])" class="btn btn-text active-tab:bg-primary active-tab:text-primary-content hover:text-primary active-tab:hover:text-primary-content hover:bg-transparent @(i == Index ? "active" : "")" data-tab="dummy" role="tab" aria-selected="true" >
                @if (Icons != null)
                {
                    <i class="@(Icons[i])"></i>
                }
                
                @Names[i]
            </a>
        }
    </nav>
</div>

@code
{
    /// <summary>
    /// Array of names to select from with the <see cref="Index"/>
    /// </summary>
    [Parameter] public string[] Names { get; set; } = [];
    
    /// <summary>
    /// Array of links to select from with the <see cref="Index"/>
    /// </summary>
    [Parameter] public string[] Links { get; set; } = [];
    
    /// <summary>
    /// Array of icons to select from with the <see cref="Index"/>
    /// </summary>
    [Parameter] public string[]? Icons { get; set; } = null;
    
    /// <summary>
    /// Index to select from the arrays
    /// </summary>
    [Parameter] public int Index { get; set; }
}