<div class="flex items-center @Spacing">
    <div class="grow-0 flex items-center me-5 text-base-content">
        <i class="@Icon text-xl me-2.5"></i>
        <span class="font-semibold">
            @ChildContent
        </span>
    </div>
    <div class="grow border-b border-base-content/25"></div>
</div>

@code
{
    /// <summary>
    /// Spacing to use
    /// </summary>
    [Parameter]
    public string Spacing { get; set; } = "mt-8 mb-4";
    
    /// <summary>
    /// Icon for the separator. For a reference, look <see href="https://lucide.dev/icons">here</see>
    /// </summary>
    [Parameter]
    public string Icon { get; set; } = "icon-pentagon";
    
    /// <summary>
    /// Content within the separator
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
