@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback') layer;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap') layer;
@import url("https://cdn.jsdelivr.net/npm/lucide-static/font/lucide.css") layer;

@import "tailwindcss";
@import "./node_modules/flyonui/variants.css";
@import "./theme.css";

@theme {
    --font-inter: "Inter", var(--font-sans);
    --font-scp: "Source Code Pro", var(--font-mono);
    
    --color-background: var(--mooncore-color-background);
    --color-base-150: var(--mooncore-color-base-150);
    --color-base-250: var(--mooncore-color-base-250);
}

@plugin "flyonui" {
    themes: mooncore --default;
}

@source "./node_modules/flyonui/dist/index.js";

@source "../**/*.razor";
@source "../**/*.cs";
@source "../**/*.html";

@source "../../MoonCore.Blazor.FlyonUi/**/*.razor";
@source "../../MoonCore.Blazor.FlyonUi/**/*.cs";
@source "../../MoonCore.Blazor.FlyonUi/**/*.html";

#blazor-error-ui {
    display: none;
}

#blazor-loader-label:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

#blazor-loader-progress {
    width: var(--blazor-load-percentage, 0%);
}

@plugin "flyonui/theme" {
    name: "mooncore";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: var(--mooncore-color-base-100);
    --color-base-200: var(--mooncore-color-base-200);
    --color-base-300: var(--mooncore-color-base-300);
    --color-base-content: var(--mooncore-color-base-content);
    --color-primary: var(--mooncore-color-primary);
    --color-primary-content: var(--mooncore-color-primary-content);
    --color-secondary: var(--mooncore-color-secondary);
    --color-secondary-content: var(--mooncore-color-secondary-content);
    --color-accent: var(--mooncore-color-accent);
    --color-accent-content: var(--mooncore-color-accent-content);
    --color-neutral: var(--mooncore-color-neutral);
    --color-neutral-content: var(--mooncore-color-neutral-content);
    --color-info: var(--mooncore-color-info);
    --color-info-content: var(--mooncore-color-info-content);
    --color-success: var(--mooncore-color-success);
    --color-success-content: var(--mooncore-color-success-content);
    --color-warning: var(--mooncore-color-warning);
    --color-warning-content: var(--mooncore-color-warning-content);
    --color-error: var(--mooncore-color-error);
    --color-error-content: var(--mooncore-color-error-content);
    --radius-selector: var(--mooncore-radius-selector);
    --radius-field: var(--mooncore-radius-field);
    --radius-box: var(--mooncore-radius-box);
    --size-selector: var(--mooncore-size-selector);
    --size-field: var(--mooncore-size-field);
    --border: var(--mooncore-border);
    --depth: var(--mooncore-depth);
    --noise: var(--mooncore-noise);
}

@layer utilities {
    .btn {
        @apply text-sm font-medium inline-flex items-center justify-center;
    }
    
    .checkbox {
        @apply border-base-content/30 bg-base-100;
    }
    
    .input {
        @apply !border-base-content/20 border-2 ring-0! outline-0! focus:border-primary! focus-within:border-primary! bg-base-200/50;
    }
    
    .table {
        :where(th, td) {
            @apply py-1.5;
        }
    }
}