@using System.Reflection
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using MoonCore.Blazor.Tailwind.Auth
@using MoonCore.Exceptions

@inject AuthenticationStateManager AuthenticationStateManager

<ErrorLogger>
    @if (IsLoading)
    {
        if (LoadingTemplate != null)
        {
            @LoadingTemplate
        }
        else
        {
            <div class="flex h-screen justify-center items-center">
                <div class="sm:max-w-lg">
                    <IconAlert Title="Loading"
                               Color="text-primary"
                               Icon="icon-loader">
                        Preparing application
                    </IconAlert>
                </div>
            </div>
        }
    }
    else
    {
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <Router AppAssembly="AppAssembly" AdditionalAssemblies="AdditionalAssemblies">
                        <Found Context="routeData">
                            <LayoutView Layout="@DefaultLayout">
                                <ErrorHandler CustomHandler="OnHandleException">
                                    <AuthorizeRouteView RouteData="routeData" Context="_">
                                        <NotAuthorized>
                                            <div class="flex justify-center items-center">
                                                <div class="sm:max-w-lg">
                                                    <IconAlert Title="Permission denied"
                                                               Color="text-danger"
                                                               Icon="icon-ban">
                                                        <div>You are missing the required permission(s)</div>
                                                    </IconAlert>
                                                </div>
                                            </div>
                                        </NotAuthorized>
                                    </AuthorizeRouteView>
                                </ErrorHandler>
                            </LayoutView>
                        </Found>
                        <NotFound>
                            <PageTitle>Not found</PageTitle>
                            <LayoutView Layout="@DefaultLayout">
                                <div class="mt-10">
                                    <IconAlert Title="Page not found"
                                               Icon="icon-telescope"
                                               Color="text-primary">
                                        The requested page could not be found
                                    </IconAlert>
                                </div>
                            </LayoutView>
                        </NotFound>
                    </Router>
                </Authorized>
                <Authorizing>
                    @if (AuthenticatingTemplate != null)
                    {
                        @AuthenticatingTemplate
                    }
                    else
                    {
                        <div class="flex h-screen justify-center items-center">
                            <div class="sm:max-w-lg">
                                <IconAlert Title="Checking authentication state"
                                           Color="text-primary"
                                           Icon="icon-arrow-up-down">
                                    Loading authentication state from identity provider
                                </IconAlert>
                            </div>
                        </div>
                    }
                </Authorizing>
                <NotAuthorized>
                    @if (LoginTemplate != null)
                    {
                        @LoginTemplate
                    }
                    else
                    {
                        <DefaultLoginTemplate/>
                    }
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    }
</ErrorLogger>

@code
{
    [Parameter] public Assembly AppAssembly { get; set; }
    [Parameter] public IEnumerable<Assembly> AdditionalAssemblies { get; set; } = [];
    [Parameter] public Type DefaultLayout { get; set; }
    [Parameter] public bool DisableBlazorServerSideSafeMode { get; set; } = false;
    [Parameter] public Func<ClaimsPrincipal, string[]>? PermissionLoader { get; set; }

    [Parameter] public RenderFragment? LoginTemplate { get; set; }
    [Parameter] public RenderFragment? AuthenticatingTemplate { get; set; }
    [Parameter] public RenderFragment? LoadingTemplate { get; set; }

    private bool IsLoading = true;

    protected override void OnInitialized()
    {
        if (DisableBlazorServerSideSafeMode)
            IsLoading = false;
    }

    // We need this loading state to prevent blazor server from calling the authentication stuff twice
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (DisableBlazorServerSideSafeMode || !firstRender)
            return;

        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task<bool> OnHandleException(Exception exception, ErrorHandler errorHandler)
    {
        if (exception is not HttpApiException httpApiException)
            return false;

        if (httpApiException.Status != 401)
            return false;

        await AuthenticationStateManager.Logout();
        
        return true;
    }
}