@using System.Diagnostics
@using Microsoft.Extensions.Logging
@using MoonCore.Blazor.Tailwind.States

@inherits ErrorBoundaryBase

@inject ILogger<ErrorLogger> Logger

@if (CurrentException == null)
{
    @ChildContent
}
else
{
    <div class="m-10">
        <IconAlert Title="Critical Application Error"
                   Color="text-danger"
                   Icon="icon-flame">
            @CurrentException.ToStringDemystified()
        </IconAlert>
    </div>
}

@code
{
    protected override Task OnErrorAsync(Exception exception)
    {
        Logger.LogCritical("An unhandled error occured: {e}", exception);

        return Task.CompletedTask;
    }
}
