<div class="text-center">
    <div class="inline-flex items-center justify-center w-16 h-16 rounded-full bg-gradient-to-t from-gray-200 to-gray-100 dark:from-gray-700 dark:to-gray-800 mb-4">
        <svg class="w-5 h-6 fill-current" viewBox="0 0 20 24">
            <path class="text-gray-500 dark:text-gray-600" d="M10 10.562l9-5-8.514-4.73a1 1 0 00-.972 0L1 5.562l9 5z"></path>
            <path class="text-gray-300 dark:text-gray-400" d="M9 12.294l-9-5v10.412a1 1 0 00.514.874L9 23.294v-11z"></path>
            <path class="text-gray-400 dark:text-gray-500" d="M11 12.294v11l8.486-4.714a1 1 0 00.514-.874V7.295l-9 4.999z"></path>
        </svg>
    </div>
    <h2 class="text-2xl text-gray-800 dark:text-gray-100 font-bold mb-2">
        @Title
    </h2>
    <div class="mb-6">
        @Text
    </div>
    
    @ChildContent
</div>

@code
{
    [Parameter] public string Icon { get; set; } = "bxs-component";
    [Parameter] public string Color { get; set; } = "";
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public RenderFragment ChildContent { get; set; }
}
