<div class="mx-2 relative">
    <ul class="relative text-sm font-medium flex flex-nowrap -mx-4 sm:-mx-6 lg:-mx-8 overflow-x-scroll no-scrollbar">

        @for (var i = 0; i < Names.Length; i++)
        {
            @if (i == Index)
            {
                <li class="mr-6 last:mr-0 first:pl-4 sm:first:pl-6 lg:first:pl-8 last:pr-4 sm:last:pr-6 lg:last:pr-8">
                    <a href="@(Links[i])"
                       class="block pb-3 text-white whitespace-nowrap border-b-2 border-primary-500">
                        @Names[i]
                    </a>
                </li>
            }
            else
            {
                <li class="mr-6 last:mr-0 first:pl-4 sm:first:pl-6 lg:first:pl-8 last:pr-4 sm:last:pr-6 lg:last:pr-8">
                    <a href="@(Links[i])"
                       class="block pb-3 text-gray-400 hover:text-white whitespace-nowrap hover:border-b-2 hover:border-primary-500">
                        @Names[i]
                    </a>
                </li>
            }
        }
    </ul>
</div>

@code
{
    [Parameter] public string[] Names { get; set; } = [];
    [Parameter] public string[] Links { get; set; } = [];
    [Parameter] public int Index { get; set; }
}