<div class="flex">
    <div class="tabs">
        @for (var i = 0; i < Names.Length; i++)
        {
            @if (i == Index)
            {
                <a href="@(Links[i])" class="tabs-segment tabs-segment-active">
                    @Names[i]
                </a>
            }
            else
            {
                <a href="@(Links[i])" class="tabs-segment">
                    @Names[i]
                </a>
            }
        }
    </div>
</div>

@code
{
    [Parameter] public string[] Names { get; set; } = [];
    [Parameter] public string[] Links { get; set; } = [];
    [Parameter] public int Index { get; set; }
}