@using MoonCore.Blazor.FlyonUi.Components

<div class="flex h-screen justify-center items-center">
    <div class="sm:max-w-lg">
        <IconAlert Title="Logging you in"
                   Color="text-primary"
                   Icon="icon-fingerprint">
            Trying to log you in using the identity provider
        </IconAlert>
    </div>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender)
            return;
        
        // TODO: Find a suitable way of handling a missing auth selector here
    }
}
