@page "/"
@using Bogus
@using MoonCore.Helpers
@using MoonCoreUI.Test.Data
@using MoonCoreUI.Components.Forms

<PageTitle>Index</PageTitle>

<MultiItemSelect T="WeatherForecast"
                 @bind-Value="Selected"
                 Items="Forecasts"
                 DisplayProp="@(x => x.Summary)"
                 SearchProp="@(x => x.Summary)">
</MultiItemSelect>

<div class="row">
    <WButton Text="teyty" OnClick="OnClick"></WButton>
</div>

@code
{
    private List<WeatherForecast> Selected = new();
    
    private List<WeatherForecast> Forecasts = new();
    private WeatherForecast Forecast;

    protected override void OnInitialized()
    {
        var faker = new Faker("de");
        
        for (int i = 0; i < 100; i++)
        {
            Forecasts.Add(new WeatherForecast()
            {
                Summary = faker.Address.City()
            });
        }
    }

    private Task OnClick()
    {
        foreach (var forecast in Selected)
        {
            Logger.Info(forecast.Summary);
        }
        
        return Task.CompletedTask;
    }
}