@page "/"
@using MoonCore.Helpers
@using MoonCoreUI.Components.Forms
@using MoonCoreUI.Test.Data

<PageTitle>Index</PageTitle>

<SingleAutoProperty TItem="WeatherForecast" Model="Forecast" Field="@(x => x.TemperatureC)"></SingleAutoProperty>

<button @onclick="Callback"></button>

@code
{
    private WeatherForecast Forecast = new();

    private void Callback()
    {
        Console.WriteLine(Forecast.TemperatureC);
    }
}