@page "/components/contextmenu"

@using MoonCore.Blazor.FlyonUi.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Showcases

<NavTabs Index="4" Names="UiConstants.ComponentNames" Links="UiConstants.ComponentLinks" Icons="UiConstants.ComponentIcons" />

<div class="mt-8 mb-25">
    <div class="font-semibold text-2xl">Context Menu</div>
    <p class="mt-1 text-base-content/80 text-lg">
        Enhance interactivity and user experience on your site by implementing a context menu that offers users relevant actions and options through a right-click.
    </p>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(ContextMenuSc))" Title="Context Menu" Description="Default context menu">
        <ContextMenuSc />
    </Showcase>
</div>