@page "/components/dropdowns"

@using MoonCore.Blazor.FlyonUi.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Showcases

<NavTabs Index="3" Names="UiConstants.ComponentNames" Links="UiConstants.ComponentLinks" Icons="UiConstants.ComponentIcons" />

<div class="mt-8 mb-25">
    <div class="font-semibold text-2xl">Dropdowns</div>
    <p class="mt-1 text-base-content/80 text-lg">
        The Dropdown neatly displays Dropdown or content without using the FlyonUI JavaScript plugin, offering a compact interface for easy navigation and space-saving. 
    </p>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(DropdownSc))" Title="Dropdown" Description="Default dropdown">
        <DropdownSc />
    </Showcase>
</div>