@page "/components"

@using MoonCore.Blazor.FlyonUi.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Showcases

<NavTabs Index="0" Names="UiConstants.ComponentNames" Links="UiConstants.ComponentLinks" Icons="UiConstants.ComponentIcons" />

<div class="mt-8 mb-25">
    <div class="font-semibold text-2xl">Buttons</div>
    <p class="mt-1 text-base-content/80 text-lg">
        Default FlyonUI buttons and advanced buttons to handle actions
    </p>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(ButtonsSc))" Title="Buttons" Description="Default buttons from FlyonUI">
        <ButtonsSc />
    </Showcase>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(WorkerButtonSc))" Title="Worker Button" Description="Basic usage">
        <WorkerButtonSc />
    </Showcase>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(WorkerButtonSc2))" Title="Worker Button" Description="Text updates during action">
        <WorkerButtonSc2 />
    </Showcase>
</div>
