@page "/components/tabs"

@using MoonCore.Blazor.FlyonUi.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Showcases

<NavTabs Index="2" Names="UiConstants.ComponentNames" Links="UiConstants.ComponentLinks" Icons="UiConstants.ComponentIcons" />

<div class="mt-8 mb-25">
    <div class="font-semibold text-2xl">Tabs</div>
    <p class="mt-1 text-base-content/80 text-lg">
        Switching between multiple tabs
    </p>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(TabsSc))" Title="Tabs" Description="Default tabs">
        <TabsSc />
    </Showcase>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(TabsSc2))" Title="Tabs" Description="Tabs with icons">
        <TabsSc2 />
    </Showcase>
</div>