@page "/components/tabs"

@using MoonCore.Blazor.FlyonUi.Components

<NavTabs Index="2" Names="UiConstants.ComponentNames" Links="UiConstants.ComponentLinks" Icons="UiConstants.ComponentIcons" />

<div class="mt-5">
    <Tabs>
        <Tab Name="Tab 1" Icon="icon-apple">
            <h1 class="text-lg">Tab 1</h1>
        </Tab>
        <Tab Name="Tab 2" Icon="icon-banana">
            <h1 class="text-lg">Tab 2</h1>
        </Tab>
        <Tab Name="Tab 3">
            <h1 class="text-lg">Tab 3 not fancy</h1>
        </Tab>
    </Tabs>
</div>