@using System.Reflection
@using MoonCoreUI.Attributes
@using MoonCoreUI.Helpers

@typeparam TForm

<div class="row g-5">
    @foreach (var sectionRender in PropertyRenders)
    {
        <div class="col-12">
            <div class="card">
                @if (!string.IsNullOrEmpty(sectionRender.Key))
                {
                    <div class="card-header">
                        <span class="card-title">@sectionRender.Key</span>
                    </div>
                }
                <div class="card-body">
                    <div class="row g-5">
                        @foreach (var render in sectionRender.Value)
                        {
                            <div class="col-md-@(Columns) col-12 d-flex flex-column">
                                @render
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code
{
    [Parameter] public TForm Model { get; set; }

    [Parameter] public int Columns { get; set; } = 6;
    
    private Dictionary<string, List<RenderFragment>> PropertyRenders = new();

    protected override void OnParametersSet()
    {
        // Read reflection data
        var properties = typeof(TForm).GetProperties();
        var propertiesGrouped = properties.GroupBy(x => GetSectionId(x));

        // Build sections
        var propertySections = propertiesGrouped.ToDictionary(x => x.Key, x => x.ToArray());
        
        // Render sections
        foreach (var section in propertySections)
        {
            var renders = new List<RenderFragment>();

            foreach (var property in section.Value)
            {
                Type typeOfComponent;

                // Determine if property is a list
                if (FormHelper.IsGenericVersionOf(property.PropertyType, typeof(List<>)))
                {
                    typeOfComponent = typeof(AutoListProperty<,>)
                        .MakeGenericType(
                            property.PropertyType,
                            property.PropertyType
                                .GetGenericArguments()
                                .First());
                }
                else
                {
                    typeOfComponent = typeof(AutoProperty<>).MakeGenericType(property.PropertyType);
                }
                
                var render = ComponentHelper.FromType(typeOfComponent, parameters =>
                {
                    parameters.Add("Data", Model!);
                    parameters.Add("Property", property);
                });
                
                renders.Add(render);
            }
            
            PropertyRenders.Add(section.Key, renders);
        }
    }

    private string GetSectionId(PropertyInfo info)
    {
        var attributes = info.GetCustomAttributes().ToArray();

        if (attributes.All(x => x.GetType() != typeof(SectionAttribute)))
            return string.Empty;

        var sectionAttribute = attributes.First(x => x.GetType() == typeof(SectionAttribute)) as SectionAttribute;

        if (sectionAttribute == null)
            return string.Empty;

        return sectionAttribute.Name;
    }
}