@using System.Reflection
@using System.ComponentModel
@using Microsoft.Extensions.DependencyInjection
@using MoonCore.Abstractions
@using MoonCore.Helpers
@using MoonCoreUI.Attributes
@using MoonCoreUI.Helpers

@typeparam TProp where TProp : List<TListItem>
@typeparam TListItem
@inject IServiceProvider ServiceProvider

@if (EnablePropertyName)
{
    <label class="form-label">
        @(Formatter.ConvertCamelCaseToSpaces(Property.Name))
    </label>
}

@if (TryGetCasted<DescriptionAttribute>(out var descriptionAttribute))
{
    <div class="form-text fs-5 mb-2 mt-0">
        @(descriptionAttribute.Description)
    </div>
}

@* Actual value binding *@

<div class="mt-auto">
    @if (TryGetCasted(out MultiSelectionAttribute multiSelectionAttribute))
    {
        <MultiItemSelect Value="Binder.Class"
                         ValueExpression="@(() => Binder.Class)"
                         Items="Items"
                         DisplayProp="DisplayFunc"
                         SearchProp="SearchFunc"
                         ItemColor="@multiSelectionAttribute.ItemColor" />
    }
</div>

@code
{
    [Parameter] public object Data { get; set; }

    [Parameter] public PropertyInfo Property { get; set; }

    [Parameter] public bool EnablePropertyName { get; set; } = true;
    [Parameter] public bool EnablePlaceholderName { get; set; } = false;

    private PropBinder<TProp> Binder;
    private TListItem[] Items = Array.Empty<TListItem>();
    
    // Cache
    private Func<TListItem, string> DisplayFunc;
    private Func<TListItem, string> SearchFunc;
    private List<object> Attributes;

    protected override void OnInitialized()
    {
        Binder = new(Property, Data);
    }

    protected override void OnParametersSet()
    {
        Binder = new(Property, Data);

        Attributes = Property.GetCustomAttributes(true).ToList();
        
        // Init- Multi selection attribute
        if (TryGetCasted(out MultiSelectionAttribute multiSelectionAttribute))
        {
            DisplayFunc = FormHelper.GetPropertyExpression<TListItem>(multiSelectionAttribute.DisplayProp);
            SearchFunc = FormHelper.GetPropertyExpression<TListItem>(multiSelectionAttribute.SearchProp);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Property.GetCustomAttributes(true).Any(x => x.GetType() == typeof(MultiSelectionAttribute)))
            {
                var typeToGetByDi = typeof(Repository<>).MakeGenericType(typeof(TListItem));
                var repo = ServiceProvider.GetRequiredService(typeToGetByDi);
                var dbSet = repo.GetType().GetMethods().First(x => x.Name == "Get").Invoke(repo, null) as IEnumerable<TListItem>;
                Items = dbSet!.ToArray();

                await InvokeAsync(StateHasChanged);
            }
        }
    }
    
    private bool TryGetCasted<T>(out T result) where T : class
    {
        var attribute = Attributes.FirstOrDefault(x => x.GetType() == typeof(T));

        if (attribute == null)
        {
            result = default!;
            return false;
        }

        var castedAttribute = attribute as T;

        if (castedAttribute == null)
        {
            result = default!;
            return false;
        }

        result = castedAttribute;
        return true;
    }
}