@using Microsoft.AspNetCore.Components.Forms
@inherits InputBase<int>

<div class="input-group">
    <input @bind="ValueInUnit" type="number" class="form-control w-75"/>
    <select @bind="Unit" class="form-select w-25 text-center">
        @if (MinimumUnit <= 0)
        {
            <option value="0">KB</option>
        }
        @if (MinimumUnit <= 1)
        {
            <option value="1">MB</option>
        }
        @if (MinimumUnit <= 2)
        {
            <option value="2">GB</option>
        }
    </select>
</div>

@code
{
    [Parameter] public int MinimumUnit { get; set; } = 0;
    [Parameter] public int Converter { get; set; } = 0;
    [Parameter] public int DefaultUnit { get; set; } = 0;

    private int Unit;

    private long ValueInUnit
    {
        get => (long)(KiloBytes / Math.Pow(1024D, Unit));
        set => KiloBytes = (long)(value * Math.Pow(1024D, Unit));
    }

    private long KiloBytes
    {
        get => (long)(CurrentValue * Math.Pow(1024D, Converter));
        set => CurrentValue = (int)(value / Math.Pow(1024D, Converter));
    }

    protected override void OnInitialized()
    {
        if (DefaultUnit < MinimumUnit)
            Unit = MinimumUnit;
        else
            Unit = DefaultUnit;
    }

    protected override bool TryParseValueFromString(string? value, out int result, out string? validationErrorMessage)
    {
        result = int.Parse(value!);
        validationErrorMessage = "";
        return false;
    }
}