@inherits BaseFastFormComponent<int>

<div class="col-md-3 col-12">
    <label class="form-label">@Name</label>

    <ByteSizeInput @bind-Value="Binder.Value"
                   MinimumUnit="@MinimumUnit"
                   DefaultUnit="@DefaultUnit"
                   Converter="@Converter"/>

    @if (Description != null)
    {
        <div class="form-text fs-6 text-gray-600">
            @Description
        </div>
    }
</div>

@code
{
    private string MinimumUnit;
    private string DefaultUnit;
    private int Converter;

    protected override void OnInitialized()
    {
        if (AdditionalOptions == null)
        {
            MinimumUnit = "KB";
            DefaultUnit = "KB";
            Converter = 0;
            return;
        }

        MinimumUnit = AdditionalOptions.GetNullable<string>("MinimumUnit") ?? "KB";
        DefaultUnit = AdditionalOptions.GetNullable<string>("DefaultUnit") ?? "KB";
        Converter = AdditionalOptions.GetNullable<int>("Converter");
    }
}
