@inherits BaseFastFormComponent<bool>

<div class="col-12 col-md-3">
    <label class="form-label">@Name</label>
    
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" @bind="Binder.Value">
    </div>

    @if (Description != null)
    {
        <div class="form-text fs-6 text-gray-600">
            @Description
        </div>
    }
</div>