@using System.ComponentModel.DataAnnotations
@using MoonCore.Blazor.FlyonUi.Components
@using MoonCore.Blazor.FlyonUi.Exceptions
@using MoonCore.Blazor.FlyonUi.Files.Manager.Abstractions
@using MoonCore.Blazor.FlyonUi.Forms
@using MoonCore.Helpers

@inherits MoonCore.Blazor.FlyonUi.Modals.BaseModal

<div class="p-5">
    <div class="flex items-center gap-4">
        <div class="avatar avatar-placeholder max-sm:hidden">
            <div class="border-base-content/20 rounded-box w-13 border-1">
                <span class="icon-archive text-xl"></span>
            </div>
        </div>
        <div class="space-y-1">
            <h3 class="text-base-content text-2xl font-semibold">Create archive</h3>
            <p class="text-base-content/80">Select the archive format and enter a file name</p>
        </div>
    </div>
    <div class="mt-5">
        <HandleForm @ref="HandleForm" Model="Form" OnValidSubmit="HandleSubmitAsync">
            <div class="mt-2">
                <label class="label-text">Format</label>
                <InputItem TItem="ArchiveFormat"
                           DisplayField="@(x => x.DisplayName)"
                           ItemSource="ItemSourceAsync"
                           Value="SelectedFormat"
                           ValueChanged="OnFormatChanged"/>
            </div>
            <div class="mt-2">
                <label class="label-text">Filename</label>
                <input class="input" @bind="Form.Name" placeholder="Enter a file name"/>
            </div>
        </HandleForm>
    </div>
    <div class="mt-5 flex justify-end">
        <button @onclick="HideAsync" type="button" class="btn btn-secondary me-2">
            Cancel
        </button>
        <WButton OnClick="HandleForm.SubmitAsync">
            Create
        </WButton>
    </div>
</div>

@code
{
    /// <summary>
    /// Formats to offer to the user
    /// </summary>
    [Parameter] public required ArchiveFormat[] Formats { get; set; }
    
    /// <summary>
    /// Callback when the user entered the requested data
    /// </summary>
    [Parameter] public required Func<string, ArchiveFormat, Task> OnSubmit { get; set; }

    private HandleForm HandleForm;

    private FormData Form = new();
    private ArchiveFormat? SelectedFormat;

    protected override void OnInitialized()
    {
        SelectedFormat = Formats.FirstOrDefault();

        // If we have a format with an extension defined we create a nice default name
        if (SelectedFormat is { Extensions.Length: > 0 })
            Form.Name = $"archive-{DateTime.Now:yyyy-MM-dd_HH-mm-ss}.{SelectedFormat.Extensions[0]}";
    }

    record FormData
    {
        [Required(ErrorMessage = "You need to provide a file name")]
        public string Name { get; set; }
    }

    private async Task HandleSubmitAsync()
    {
        if (SelectedFormat == null)
            throw new DisplayException("You need to select an archive format");

        await OnSubmit.Invoke(Form.Name, SelectedFormat);
        await HideAsync();
    }

    private Task<ArchiveFormat[]> ItemSourceAsync()
        => Task.FromResult(Formats);

    private async Task OnFormatChanged(ArchiveFormat? newFormat)
    {
        if (newFormat != null && newFormat.Extensions.Length != 0 && SelectedFormat != null && !string.IsNullOrEmpty(Form.Name))
        {
            var oldName = Form.Name;

            foreach (var extension in SelectedFormat.Extensions)
            {
                if (oldName.EndsWith(extension))
                {
                    oldName = Formatter.ReplaceEnd(oldName, extension, "");
                    break;
                }
            }

            Form.Name = $"{oldName}{newFormat.Extensions[0]}";
        }

        SelectedFormat = newFormat;

        await InvokeAsync(StateHasChanged);
    }
}