@page "/datatables/loading"
@using MoonCore.Blazor.FlyonUi.Components
@using MoonCore.Blazor.FlyonUi.DataTables

<NavTabs Index="3" Names="UiConstants.DataTablesNames" Links="UiConstants.DataTablesLinks" />

<div class="mt-5">
    <DataTable TItem="TestModel" ItemSource="ItemSource">
        <Configuration>
            <DataTableColumn TItem="TestModel" Field="@(x => x.Id)" Name="Id"/>
            <DataTableColumn TItem="TestModel" Field="@(x => x.Username)" Name="Username"/>
            <DataTableColumn TItem="TestModel" Field="@(x => x.Email)" Name="Email"/>
        </Configuration>
    </DataTable>
</div>

@code
{
    private async Task<TestModel[]> ItemSource()
    {
        await Task.Delay(TimeSpan.FromSeconds(3));
        return [];
    }

    record TestModel
    {
        public string Username { get; set; }
        public int Id { get; set; }
        public string Email { get; set; }
    }
}