@page "/feedback"

@using MoonCore.Blazor.FlyonUi.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Showcases

<NavTabs Index="0" Names="UiConstants.FeedbackNames" Links="UiConstants.FeedbackLinks" />

<div class="mt-8 mb-25">
    <div class="font-semibold text-2xl">Alerts</div>
    <p class="mt-1 text-base-content/80 text-lg">
        Notify users and create interaction flows quickly using alerts
    </p>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(AlertsSc))" Title="Alerts" Description="Default alerts">
        <AlertsSc />
    </Showcase>
</div>