@page "/feedback/modals"

@using MoonCore.Blazor.FlyonUi.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Showcases

<NavTabs Index="1" Names="UiConstants.FeedbackNames" Links="UiConstants.FeedbackLinks" />

<div class="mt-8 mb-25">
    <div class="font-semibold text-2xl">Modals</div>
    <p class="mt-1 text-base-content/80 text-lg">
        Launch modals quickly and easy with the modal service supporting auto hide, various sizes and stacking
    </p>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(ModalsSc))" Title="Modals" Description="Custom modal content defined in a separate component">
        <ModalsSc />
    </Showcase>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(ModalsSc2))" Title="Modals" Description="Multi layer modal support">
        <ModalsSc2 />
    </Showcase>
</div>
