@page "/feedback/toasts"

@using MoonCore.Blazor.FlyonUi.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Components
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Showcases

<NavTabs Index="2" Names="UiConstants.FeedbackNames" Links="UiConstants.FeedbackLinks" />

<div class="mt-8 mb-25">
    <div class="font-semibold text-2xl">Toasts</div>
    <p class="mt-1 text-base-content/80 text-lg">
        Small and undistracting messages to inform the user without interrupting their workflow
    </p>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(ToastsSc))" Title="Toasts" Description="Default toasts">
        <ToastsSc />
    </Showcase>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(ToastsSc2))" Title="Toasts" Description="Small toasts">
        <ToastsSc2 />
    </Showcase>
</div>

<div class="my-20">
    <Showcase Source="@(nameof(ToastsSc3))" Title="Toasts" Description="Progress toasts">
        <ToastsSc3 />
    </Showcase>
</div>