@using System.ComponentModel.DataAnnotations
@using MoonCore.Blazor.Tailwind.Modals.Components
@using MoonCore.Blazor.Tailwind.Components

@inherits BaseModal

<h1 class="mb-5 font-semibold text-xl">Create a new folder</h1>

<HandleForm @ref="HandleForm" Model="Input" OnValidSubmit="OnValidSubmit">
    <input @bind="Input.FolderName" type="text" class="form-input w-full placeholder-gray-500" placeholder="Enter a folder name"/>
</HandleForm>

<div class="mt-5 flex space-x-2">
    <WButton OnClick="_ => Hide()" CssClasses="btn btn-secondary grow">Cancel</WButton>
    <WButton OnClick="_ => Submit()" CssClasses="btn btn-primary grow">Create</WButton>
</div>

@code
{
    [Parameter] public Func<string, Task> OnSubmit { get; set; }
    
    private HandleForm HandleForm;
    private InputStruct Input = new();

    private async Task OnValidSubmit()
    {
        await OnSubmit.Invoke(Input.FolderName);
        await Hide();
    }
    
    private Task Submit() => HandleForm.Submit();
    
    struct InputStruct
    {
        [Required(ErrorMessage = "You need to specify a folder name")]
        [RegularExpression("^[a-zA-Z0-9_-]+(\\.[a-zA-Z0-9]+)?$", ErrorMessage = "You need to provide a valid folder name")]
        public string FolderName { get; set; }
    }
}