<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">
            @Title
        </h4>
    </div>
    <div class="modal-body">
        <p class="text-gray-800 fs-4 fw-semibold text-center">
            @Text
        </p>
        
        <input class="form-control w-100 mt-2 text-center" type="text" placeholder="@Placeholder" @bind="Input"/>
    </div>
    <div class="modal-footer">
        <div class="btn-group w-100">
            <button class="btn btn-secondary" data-bs-dismiss="modal">@No</button>
            <button @onclick="() => Func.Invoke(Input)" class="btn btn-primary" data-bs-dismiss="modal">@Yes</button>
        </div>
    </div>
</div>

@code
{
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public string Placeholder { get; set; } = "";
    [Parameter] public string Yes { get; set; } = "";
    [Parameter] public string No { get; set; } = "";
    [Parameter] public Func<string, Task> Func { get; set; }

    private string Input = "";
}