@page "/colors"

<div class="grid h-12 w-full grid-cols-12">
    <div class="col-span-1 bg-gray-50 flex justify-center items-center">
        50
    </div>
    <div class="col-span-1 bg-gray-100 flex justify-center items-center">
        100
    </div>
    <div class="col-span-1 bg-gray-200 flex justify-center items-center">
        200
    </div>
    <div class="col-span-1 bg-gray-300 flex justify-center items-center">
        300
    </div>
    <div class="col-span-1 bg-gray-400 flex justify-center items-center">
        400
    </div>
    <div class="col-span-1 bg-gray-500 flex justify-center items-center">
        500
    </div>
    <div class="col-span-1 bg-gray-600 flex justify-center items-center">
        600
    </div>
    <div class="col-span-1 bg-gray-700 flex justify-center items-center">
        700
    </div>
    <div class="col-span-1 bg-gray-750 flex justify-center items-center">
        750
    </div>
    <div class="col-span-1 bg-gray-800 flex justify-center items-center">
        800
    </div>
    <div class="col-span-1 bg-gray-900 flex justify-center items-center">
        900
    </div>
    <div class="col-span-1 bg-gray-950 flex justify-center items-center">
        950
    </div>
</div>