@page "/components"
@using MoonCore.Blazor.Tailwind.Components

<div class="mb-5">
    <NavTabs Index="0" Names="UiConstants.ComponentsNames" Links="UiConstants.ComponentsLinks" />
</div>

<h3 class="text-xl font-semibold my-3">Default Buttons</h3>

<div class="grid gap-5 grid-cols-7">
    <div class="col-span-1 space-y-2 flex flex-col">
        <button class="btn btn-xs btn-primary">Extra small</button>
        <button class="btn btn-sm btn-primary">Small</button>
        <button class="btn btn-primary">Normal</button>
        <button class="btn btn-lg btn-primary">Large</button>
    </div>
    
    <div class="col-span-1 space-y-2 flex flex-col">
        <button class="btn btn-xs btn-secondary">Extra small</button>
        <button class="btn btn-sm btn-secondary">Small</button>
        <button class="btn btn-secondary">Normal</button>
        <button class="btn btn-lg btn-secondary">Large</button>
    </div>
    
    <div class="col-span-1 space-y-2 flex flex-col">
        <button class="btn btn-xs btn-tertiary">Extra small</button>
        <button class="btn btn-sm btn-tertiary">Small</button>
        <button class="btn btn-tertiary">Normal</button>
        <button class="btn btn-lg btn-tertiary">Large</button>
    </div>
    
    <div class="col-span-1 space-y-2 flex flex-col">
        <button class="btn btn-xs btn-info">Extra small</button>
        <button class="btn btn-sm btn-info">Small</button>
        <button class="btn btn-info">Normal</button>
        <button class="btn btn-lg btn-info">Large</button>
    </div>
    
    <div class="col-span-1 space-y-2 flex flex-col">
        <button class="btn btn-xs btn-success">Extra small</button>
        <button class="btn btn-sm btn-success">Small</button>
        <button class="btn btn-success">Normal</button>
        <button class="btn btn-lg btn-success">Large</button>
    </div>
    
    <div class="col-span-1 space-y-2 flex flex-col">
        <button class="btn btn-xs btn-warning">Extra small</button>
        <button class="btn btn-sm btn-warning">Small</button>
        <button class="btn btn-warning">Normal</button>
        <button class="btn btn-lg btn-warning">Large</button>
    </div>
    
    <div class="col-span-1 space-y-2 flex flex-col">
        <button class="btn btn-xs btn-danger">Extra small</button>
        <button class="btn btn-sm btn-danger">Small</button>
        <button class="btn btn-danger">Normal</button>
        <button class="btn btn-lg btn-danger">Large</button>
    </div>
</div>

<div class="grid gap-5 grid-cols-7 mt-5">
    <div class="col-span-3 space-y-2 flex flex-col">
        <div class="btn-group">
            <button class="btn btn-primary">None</button>
            <button class="btn btn-secondary">Read</button>
            <button class="btn btn-secondary">Read & Write</button>
        </div>
    </div>
</div>