@page "/components/lazyLoaders"

@using MoonCore.Blazor.Tailwind.Components
@using MoonCore.Exceptions

<div class="mb-5">
    <NavTabs Index="3" Names="UiConstants.ComponentsNames" Links="UiConstants.ComponentsLinks" />
</div>

<div class="grid grid-cols-3">
    <div class="col-span-1">
        <LazyLoader Load="Load">
            <div class="text-center text-primary">
                Loaded :)
            </div>
        </LazyLoader>
    </div>
    <div class="col-span-1">
        <LazyLoader Load="Load2">
            <div class="text-center text-primary">
                Loaded :)
            </div>
        </LazyLoader>
    </div>
    <div class="col-span-1">
        
    </div>
</div>

@code
{
    private async Task Load(LazyLoader lazyLoader)
    {
        await Task.Delay(TimeSpan.FromSeconds(3));

        await lazyLoader.UpdateText("Details about progress :)");
        
        await Task.Delay(TimeSpan.FromSeconds(3));
        
        await lazyLoader.UpdateText("More details :o");
        
        await Task.Delay(TimeSpan.FromSeconds(3));
    }
    
    private async Task Load2(LazyLoader lazyLoader)
    {
        await Task.Delay(TimeSpan.FromSeconds(3));

        throw new HttpApiException("Whooops", 404);
    }
}
