@using MoonCore.Blazor.FlyonUi.Toasts.Components

@inherits BaseToast

<div class="flex-shrink-0 flex items-center">
    <div class="inline-flex">
        <i class="icon-cloud-download animate-bounce text-2xl text-primary"></i>
    </div>
</div>
<div class="ml-3 w-0 pt-0.5 flex-1">
    <p class="text-sm font-medium text-base-content">
        Downloading...
    </p>
    <p class="mt-1 text-sm text-base-content/80">
        @if (string.IsNullOrEmpty(Text))
        {
            <span>Preparing</span>
        }
        else
        {
            <span>@(Percent)% - @Text</span>
        }
    </p>
</div>

@code
{
    /// <summary>
    /// <b>Optional:</b> Initial text shown as the status
    /// </summary>
    [Parameter] public string? Text { get; set; }
    
    /// <summary>
    /// Initial percentage of progress shown as the status
    /// </summary>
    [Parameter] public int Percent { get; set; }
    
    /// <summary>
    /// Worker callback which should execute the actual task so the modal can hide when its finished
    /// </summary>
    [Parameter] public Func<FileDownloadToast, Task> Callback { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await Callback.Invoke(this);
        await HideAsync();
    }

    /// <summary>
    /// Updates the current status of the download
    /// </summary>
    /// <param name="text">Description for the status</param>
    /// <param name="percent">Percentage progress of the operation</param>
    public async Task UpdateStatusAsync(string text, int percent)
    {
        Text = text;
        Percent = percent;
        await InvokeAsync(StateHasChanged);
    }
}