@using MoonCore.Blazor.FlyonUi.Components

<Dropdown>
    <Activator>
        <div class="dropdown-toggle btn btn-primary" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
            Dropdown
            <span class="icon-chevron-down dropdown-open:rotate-180 size-4"></span>
        </div>
    </Activator>
    <Content>
        <ul>
            <li><a class="dropdown-item" href="#">One</a></li>
            <li><a class="dropdown-item" href="#">Two</a></li>
            <li><a class="dropdown-item" href="#">Three</a></li>
            <li><a class="dropdown-item" href="#">Four</a></li>
        </ul>
    </Content>
</Dropdown>