@using MoonCore.Blazor.FlyonUi.Components

<Tabs>
    <Tab Name="Tab 1">
        <h1 class="text-lg">Tab 1</h1>
    </Tab>
    <Tab Name="Tab 2">
        <h1 class="text-lg">Tab 2</h1>
    </Tab>
    <Tab Name="Tab 3">
        <h1 class="text-lg">Tab 3</h1>
    </Tab>
</Tabs>