@using MoonCore.Blazor.Tailwind.Test.UI.Partials
@using MoonCore.Blazor.Tailwind.Components
@using MoonCore.Blazor.Tailwind.Toasts
@using MoonCore.Blazor.Tailwind.Modals

@inherits LayoutComponentBase

<div>
    <AppSidebar/>

    <div class="lg:pl-72">
        <AppHeader/>

        <main class="py-10">
            <div class="px-4 sm:px-6 lg:px-8">
                @Body
            </div>
        </main>

        <ToastLauncher/>
        <ModalLauncher/>
    </div>
</div>

<div id="blazor-error-ui" class="fixed bottom-0 left-0 w-full z-50">
    <div class="bg-danger-600 text-white p-4 flex flex-row justify-between items-center">
        <div class="flex items-center">
            <i class="icon-bomb text-lg text-white me-2"></i>
            <span>An unhandled error has occurred.</span>
        </div>
        <div>
            <a href="#" class="reload text-white underline mr-4">Reload</a>
            <a href="#" class="dismiss hidden">🗙</a>
        </div>
    </div>
</div>
