@typeparam TItem

<DataTableColumn TItem="TItem" HeaderCss="w-8 ps-1" ColumnCss="ps-1" Index="int.MinValue">
    <HeaderTemplate>
        <div class="flex justify-center">
            @if (DataTable.Items.Length != 0 && DataTable.Items.Length == SelectedItems.Count)
            {
                <input @onclick="() => ToggleAll(false)" type="checkbox" class="form-checkbox"
                       checked="checked">
            }
            else
            {
                <input @onclick="() => ToggleAll(true)" type="checkbox" class="form-checkbox">
            }
        </div>
    </HeaderTemplate>
    <ColumnTemplate>
        <div class="flex justify-center">
            @if (SelectedItems.Contains(context))
            {
                <input @onclick="() => ToggleOne(context, false)" type="checkbox"
                       class="form-checkbox" checked="checked">
            }
            else
            {
                <input @onclick="() => ToggleOne(context, true)" type="checkbox"
                       class="form-checkbox">
            }
        </div>
    </ColumnTemplate>
</DataTableColumn>

@code
{
    [CascadingParameter(Name = "DataTable")]
    public DataTable<TItem> DataTable { get; set; }
    
    [Parameter] public Func<TItem[], Task>? OnSelectionChanged { get; set; }

    private readonly List<TItem> SelectedItems = new();

    protected override void OnInitialized()
    {
        DataTable.OnRefreshing += async () =>
        {
            SelectedItems.Clear();
            
            if(OnSelectionChanged != null)
                await OnSelectionChanged.Invoke(SelectedItems.ToArray());
        };
    }

    private async Task ToggleAll(bool toggle)
    {
        SelectedItems.Clear();
        
        if(toggle)
            SelectedItems.AddRange(DataTable.Items);

        await DataTable.NotifyStateHasChanged();
       
        if(OnSelectionChanged != null)
            await OnSelectionChanged.Invoke(SelectedItems.ToArray());
    }
    
    private async Task ToggleOne(TItem item, bool toggle)
    {
        if(toggle && !SelectedItems.Contains(item))
            SelectedItems.Add(item);
        else if (!toggle && SelectedItems.Contains(item))
            SelectedItems.Remove(item);
        
        if(OnSelectionChanged != null)
            await OnSelectionChanged.Invoke(SelectedItems.ToArray());
    }
}
