@inherits BaseToast

<div class="flex-shrink-0">
    <i class="icon-triangle-alert text-xl text-warning-400"></i>
</div>
<div class="ml-3 w-0 flex-1 pt-0.5">
    <p class="text-sm font-medium text-gray-100">
        @Title
    </p>
    <p class="mt-1 text-sm text-gray-400">
        @Text
    </p>
</div>
<div class="ml-4 flex flex-shrink-0">
    <button @onclick="Hide" type="button" class="inline-flex rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
        <span class="sr-only">Close</span>
        <i class="bi bi-x-lg"></i>
    </button>
</div>

@code
{
    [Parameter] public string Title { get; set; }
    [Parameter] public string Text { get; set; }
}